.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.hidden {
	display: none !important;
}

h4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	unicode-bidi: isolate;
}

* {
	font-family: 'Inter';
	font-style: normal;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

#subtitle {
	font-size: 0.9rem;
}

body {
	max-width: 1920px;
	margin: auto;
}

blockquote,
figure {
	margin: 0 0 1rem;
}

.pointer {
	cursor: pointer;
}

.differed-img {
	visibility: hidden;
}

header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

header .name {
	font-size: 26px;
	font-weight: 500;
	margin: 0;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
}

.carousel {
	position: relative;
}

.carousel-inner {
	display: flex;
	overflow: hidden;
}

.carousel-item {
	display: flex;
	width: 100%;
}

.carousel-item img {
	width: 100%;
}

.carousel-indicators {
	position: absolute;
	left: 50%;
	bottom: 10px;
	z-index: 1;
	transform: translateX(-50%);
	margin-bottom: 1rem;
}

.carousel-indicators button {
	border-radius: 0;
	border: 0;
	width: 30px;
	height: 3px;
	margin-left: 3px;
	margin-right: 3px;
	opacity: 50%;
	background: white;
}

.carousel-indicators button.active {
	opacity: 100%;
}

button[class^="carousel-control"] {
	position: absolute;
	top: 0;
	height: 100%;
	width: 15%;
	background: none;
	border: 0;
	color: white;
	opacity: 50%;
}

button[class^="carousel-control"] > img {
	width: 3.5rem;
	height: 3.5rem;
	pointer-events: none;
	filter: invert(1);
}

.carousel-control-prev {
	left: 0;
}

.carousel-control-next {
	right: 0;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

#about .picture::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	max-width: 95%;
	aspect-ratio: 1;
	position: unset;
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

.picture img {
	width: 100%;
}

#about-me {
	flex: 2
}

.about-me__title {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
	font-weight: 500;
}

.about-me__introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	width: 60%;
	font-size: 1rem;
	margin: 0;
	margin-bottom: 0.5rem;
	line-height: 1.2;
}

#about-me p {
	width: 80%;
	font-size: 14px;
	line-height: 1.5;
}

.title {
	text-align: center;
	padding-block: 2em;
	font-size: 1.75rem;
	font-weight: 500;
	z-index: 1;
}

#categories,
#categories button {
	height: 40px;
}

#categories {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	height: fit-content;
}

#categories button {
	background: none;
	border: 0;
	border-radius: 0;
	color: black;
	padding: 0.5rem 1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	cursor: pointer;
}

#categories button.active {
	background: #594b22;
	color: white;
	cursor: default;
}

#image-viewer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000000b7;
	z-index: 9999;
}

#image-viewer button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 0;
	color: black;
}

#image-viewer button img {
	height: 30px;
	pointer-events: none;
}

#image-viewer button.previous {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
}

#image-viewer button.next {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
}

#image-viewer>img {
	max-width: 80%;
	max-height: 80%;
}

.gallery .nav {
	justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	cursor: default;
	color: #fff;
	background-color: #585328;
	border-radius:0 ;
}

.nav-pills .nav-link {
	color: #000
}

.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}

.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;

}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery img {
	width: 30%;
	aspect-ratio: 1;
	object-fit: cover;
	padding: .5em;
	cursor: pointer;
}

.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
	cursor: pointer;
}

.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}

.quote__text {
	font-family: 'Spectral';
	font-style: italic;
	font-weight: 300;
	font-size: calc(1.375rem + 1.5vw);
	margin: 0;
	margin-bottom: 0.5rem;
	line-height: 1.2;
}

.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}

#services {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}

#services::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding: 2rem 4rem;
	max-width: 1425px;
}

.service__title {
	font-size: 1.75rem;
	font-weight: 500;
	margin: 0;
}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

.service__price h4 {
	font-size: 1.5rem;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}

.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.form-container {
	flex : 2;
}

.form-container h2 {
	font-size: calc(1.3rem + 0.6vw);
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.form-container p {
	margin-top: 0;
	margin-bottom: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form label {
	line-height: 1.5;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin: 0;
	margin-bottom: 20px;
	padding: 1px 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

@media (min-width: 1200px) {
	.quote__text {
		font-size: 2.5rem;
	}

	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

@media all and (max-width: 1180px) {
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h3, #about-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	#about .picture::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
		gap: 4rem;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 768px) {
	.gallery img {
		width: 42%;
	}
}

@media all and (max-width: 576px) {
	.gallery img {
		width: 99%;
	}

	.service__title {
		font-size: 1.5rem;
	}
}

@media all and (max-width: 650px) {
	header {
		flex-direction: column;
		padding-inline: 0;
	}
	header .nav, header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	#about .picture::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
}